@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .animate-link {
        position: relative;
        box-decoration-break: clone;
        text-decoration: none;
    }

    .animate-link:hover:after {
        transform: translateZ(0) scale(1);
    }

    .animate-link:after {
        left: 0;
        right: 0;
        bottom: -2px;
        content: "";
        height: 2px;
        position: absolute;
        transform: translateZ(0) scaleX(0);
        transform-origin: left center;
        transition: all .3s ease-in-out;
    }

    .fancy-name {
        position: relative;
        font-weight: 900;
        background-repeat: no-repeat;
    }

    .fancy-name:after {
        content: '';
        position: absolute;
        height: 1rem;
        left: -0.25rem;
        right: 0;
        bottom: 0.25rem;
        z-index: -1;
    }
}