@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-sleek {
    font-family: 'Open Sans', sans-serif;
    --color-primary-50: 255 249 219;
    --color-primary-100: 255 243 191;
    --color-primary-200: 255 236 153;
    --color-primary-300: 255 224 102;
    --color-primary-400: 255 212 59;
    --color-primary-500: 252 196 25;
    --color-primary-600: 250 176 5;
    --color-primary-700: 245 159 0;
    --color-primary-800: 240 140 0;
    --color-primary-900: 230 119 0;

    --color-text-heading: 15 23 42;
    --color-text-base: 15 23 42;
    --color-text-muted: 100 116 139;
    --color-text-inverted: 229 229 229;
    /* black */
    --color-text-code: 0 0 0;

    /* white */
    --color-bg: 255 255 255;
    --color-bg-inverted: 23 23 23;
    /* primary-100 */
    --color-bg-code: 254 243 199;

    --color-link: 240 140 0;
}

.theme-sleek.dark {
    --color-primary-50: 231 245 255;
    --color-primary-100: 208 235 255;
    --color-primary-200: 165 216 255;
    --color-primary-300: 116 192 252;
    --color-primary-400: 77 171 247;
    --color-primary-500: 51 154 240;
    --color-primary-600: 34 139 230;
    --color-primary-700: 28 126 214;
    --color-primary-800: 25 113 194;
    --color-primary-900: 24 100 171;

    --color-text-heading: 255 255 255;
    --color-text-base: 229 229 229;
    --color-text-muted: 148 163 184;
    --color-text-inverted: 15 23 42;
    /* white */
    --color-text-code: 255 255 255;

    --color-bg: 30 41 59;
    --color-bg-inverted: 255 255 255;
    /* primary-900 */
    --color-bg-code: 24 24 27;

    --color-link: 51 154 240;
}