@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .animate-link {
        position: relative;
        box-decoration-break: clone;
        text-decoration: none;
    }

    .animate-link:hover:after {
        transform: translateZ(0) scale(1);
    }

    .animate-link:after {
        left: 0;
        right: 0;
        bottom: -2px;
        content: "";
        height: 2px;
        position: absolute;
        transform: translateZ(0) scaleX(0);
        transform-origin: left center;
        transition: all .3s ease-in-out;
    }

    .fancy-name {
        position: relative;
        font-weight: 900;
        background-repeat: no-repeat;
    }

    .fancy-name:after {
        content: '';
        position: absolute;
        height: 1rem;
        left: -0.25rem;
        right: 0;
        bottom: 0.25rem;
        z-index: -1;
    }
}

.theme-sleek {
    font-family: 'Open Sans', sans-serif;
    --color-primary-50: 255 249 219;
    --color-primary-100: 255 243 191;
    --color-primary-200: 255 236 153;
    --color-primary-300: 255 224 102;
    --color-primary-400: 255 212 59;
    --color-primary-500: 252 196 25;
    --color-primary-600: 250 176 5;
    --color-primary-700: 245 159 0;
    --color-primary-800: 240 140 0;
    --color-primary-900: 230 119 0;

    --color-text-heading: 15 23 42;
    --color-text-base: 15 23 42;
    --color-text-muted: 100 116 139;
    --color-text-inverted: 229 229 229;

    --color-bg: 255 255 255;
    --color-link: 240 140 0;
}

.theme-sleek.dark {
    --color-primary-50: 231 245 255;
    --color-primary-100: 208 235 255;
    --color-primary-200: 165 216 255;
    --color-primary-300: 116 192 252;
    --color-primary-400: 77 171 247;
    --color-primary-500: 51 154 240;
    --color-primary-600: 34 139 230;
    --color-primary-700: 28 126 214;
    --color-primary-800: 25 113 194;
    --color-primary-900: 24 100 171;

    --color-text-heading: 255 255 255;
    --color-text-base: 229 229 229;
    --color-text-muted: 148 163 184;
    --color-text-inverted: 15 23 42;

    --color-bg: 30 41 59;
    --color-link: 51 154 240;
}
